@import "tailwindcss";

@font-face {
  font-family: "Jersey25";
  src: url("/fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-primary: #938C73;
  --accent: #CEAD1D;
  --red: #822B2B;
  --bg-light: #BFBBA9;
  --font-primary: "Jersey25", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-primary: var(--bg-primary);
  --color-accent: var(--accent);
  --color-red: var(--red);
  --color-bg-light: var(--bg-light);
  --font-primary: var(--font-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
